{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<!-- start site's main content area -->
<section class="content-wrap">
	<div class="container">
		<div class="row">
			<!-- start main post area -->
			<div class="col-md-12 main-content">
				<article class="post">
					<div class="post-head">
						<h1 class="post-title h2">{{t "Choose your subscription plan"}}</h1>
					</div>
					<div class="post-content">
                        <div class="sign-up-description text-center">
                            {{t "Unlock full access to"}} {{@site.title}} {{t "and see the entire library of members-only content & updates"}}
                        </div>
                        {{#if @member.paid}}

                            {{!-- Logged in, paying member: Redirect home --}}
                            <script>window.location = '{{@site.url}}/';</script>

                        {{else if @member}}
                        {{!-- Logged in, not paying: Check out --}}
                        <div class="pricing-table-wrap">
                            {{> members/pricing-table-monthly}}
                            {{> members/pricing-table-yearly}}
                        </div>

                        {{else}}
                        {{!-- Logged in, not paying: Check out --}}
                        <div class="pricing-table-wrap">
                            {{> members/pricing-table-free}}
                            {{> members/pricing-table-monthly}}
                            {{> members/pricing-table-yearly}}
                        </div>
                        <div class="text-center sign-in-link">
                            {{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a>
                        </div>

                        {{/if}}
					</div>
				</article>
			</div>
			<!-- end main post area -->
		</div>
	</div>
</section>
<!-- end site's main content area -->