<div class="pricing-table">
    <div class="table-header text-center">
        <h3 class="pricing-table-title h4">{{t "Free"}}</h3>
        <div class="price">
            <span class="currency">$</span><span class="value">{{t "0"}}</span>
            <span class="duration">{{t "Forever"}}</span>
        </div>
    </div>
    <ul class="table-details">
        <li>Access to all free private posts</li>
        <li>Weekly updates with new content</li>
        <li>Support independent publishing</li>
        <li>No card details required</li>
    </ul>
    <div class="table-footer text-center">
        <a class="btn btn-default" href="{{@site.url}}/signup/free/">{{t "Subscribe now"}}</a>
    </div>
</div>